
<div class="row">
    <div class="col-xs-8 ">

        <!--make a custom directive to supply an alphabet character along with service call to get names with that letter-->
        <!--this require redesign of my data service. now i need to loop through all the babyNames.json objects and spit out a file-->
        <!--containing only names starting with each letter of the alphabet-->

        <!--<span alphabet-name></span>-->

        <div><span ng-repeat="letter in letters" baby-list-names></span></div>

        <div><a ui-sref="app.allNames">View All Names</a></div>


    </div>
</div>





