
<div class="row">
    <div class="col-xs-8 ">

        <!--make a custom directive to supply an alphabet character along with service call to get names with that letter-->
        <!--this require redesign of my data service. now i need to loop through all the babyNames.json objects and spit out a file-->
        <!--containing only names starting with each letter of the alphabet-->

        <!--<span alphabet-name></span>-->
    </div>
</div>

<div class="row">
    <div class="col-xs-8 ">

        <div ng-controller="NameGridController">
            <div ng-if="nameData"><b>{{totalNamesForCurrentYear | number}} unique names given to babies born in the United States since {{year}}.</b></div>
            <div ng-if="yearData"><b>{{totalNamesForCurrentYear | number}} unique names given to babies born in the United States during the year {{year}}.</b></div>
            <div ui-grid="nameGridOptions" ui-grid-pagination class="myGrid"></div>
        </div>
    </div>
</div>



